
DemoApp/mist-sample-indoor-location/.idea/caches/build_file_checksums.ser
*.ser
DemoApp/mist-sample-indoor-location/.idea/misc.xml
*.ser
*.ser
DemoApp/mist-sample-background/.idea/caches/build_file_checksums.ser
DemoApp/mist-sample-background/.idea/modules.xml
DemoApp/mist-sample-background/.idea/shelf/stashing.xml
DemoApp/mist-sample-background/.idea/shelf/stashing/shelved.patch
DemoApp/mist-sample-background/.idea/vcs.xml
DemoApp/mist-sample-background/.idea/caches/build_file_checksums.ser
DemoApp/mist-sample-background/.idea/modules.xml
*.ser
